<footer class="bg-dark text-white text-center py-3 mt-auto shadow-sm">
    <div class="container">
        <p class="mb-0">© @DateTime.Now.Year - InnovaPropiedades | Todos los derechos reservados</p>
    </div>
</footer>
