    <div class="row flex-nowrap">  
        <nav class="d-flex flex-column bg-light border-end vh-100 p-3">  
            <nav id="sidebar" class="sidebar collapse collapse-horizontal show d-md-block">
                <div class="sidebar-inner d-flex flex-column h-100">
                    <ul class="nav nav-pills flex-column p-2">
                        <!-- Menús existentes -->
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2" asp-controller="Propietario" asp-action="Index">
                                <i class="fa-solid fa-user-tie"></i>
                                <span>Propietarios</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2" asp-controller="Inquilino" asp-action="Index">
                                <i class="fa-solid fa-users"></i>
                                <span>Inquilinos</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2" asp-controller="Inmueble" asp-action="Index">
                                <i class="fa-solid fa-building"></i>
                                <span>Inmuebles</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2" asp-controller="Contratos" asp-action="Index">
                                <i class="fa-solid fa-file-signature"></i>
                                <span>Contratos</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2" asp-controller="Pagos" asp-action="Index">
                                <i class="fa-solid fa-receipt"></i>
                                <span>Pagos</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2" asp-controller="Usuario" asp-action="Index">
                                <i class="fa-solid fa-users"></i>
                                <span>Usuarios</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2 collapsed" data-bs-toggle="collapse" href="#menuSistema" role="button" aria-expanded="false" aria-controls="menuSistema">
                                <i class="fa-solid fa-cogs"></i>
                                <span>Sistema</span>
                                <i class="fa-solid fa-chevron-down ms-auto"></i>
                            </a>
                            <div class="collapse" id="menuSistema">
                                <ul class="nav flex-column ms-3">
                                   
                                    <li class="nav-item">
                                        <a class="nav-link d-flex align-items-center gap-2" asp-controller="Rol" asp-action="Index">Roles</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link d-flex align-items-center gap-2" asp-controller="InmuebleTipo" asp-action="Index">Tipos de Inmuebles</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link d-flex align-items-center gap-2" asp-controller="InmuebleUso" asp-action="Index">Usos de Inmuebles</a>
                                    </li>
                                    <li class="nav-item"></li>
                                        <a class="nav-link d-flex align-items-center gap-2" asp-controller="Conceptos" asp-action="Index">Conceptos de Pago</a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </nav>
    </div>
    