@model Inmobiliaria10.Models.Concepto

<div class="mb-3">
    <label asp-for="DenominacionConcepto" class="form-label">Denominación</label>
    <input asp-for="DenominacionConcepto" class="form-control" maxlength="80" />
    <span asp-validation-for="DenominacionConcepto" class="text-danger"></span>
</div>
