@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="card shadow-lg border-0" style="max-width: 600px;">
        <div class="card-body text-center">
            <h1 class="fw-bold mb-0" style="color:#b78309;">InnovaPropiedades</h1>
        </div>
    </div>
</div>
