@model Inmobiliaria10.Models.Inquilino

@{
    ViewData["Title"] = "Nuevo Inquilino";
}

<h2>Nuevo Inquilino</h2>

<form asp-action="Crear" method="post">
    
    <div class="mb-3">
        <label asp-for="Documento" class="form-label"></label>
        <input asp-for="Documento" class="form-control" autocomplete="off" />
        <span asp-validation-for="Documento" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ApellidoNombres" class="form-label"></label>
        <input asp-for="ApellidoNombres" class="form-control" autocomplete="off" />
        <span asp-validation-for="ApellidoNombres" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Domicilio" class="form-label"></label>
        <input asp-for="Domicilio" class="form-control" autocomplete="off"/>
        <span asp-validation-for="Domicilio" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Telefono" class="form-label"></label>
        <input asp-for="Telefono" class="form-control" autocomplete="off" />
        <span asp-validation-for="Telefono" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" autocomplete="off" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="d-flex gap-2">
        <button type="submit" class="btn btn-success">Guardar</button>
        <a asp-action="Index" class="btn btn-secondary">Volver</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
