/* --- Fondo para Navbar y Sidebar --- */
.navbar,
.sidebar-inner {
    background-color: #e6c66e !important; 
}

/* --- Texto para Navbar (blanco y negrita) --- */
.navbar .navbar-brand,
.navbar .nav-link {
    color: #0c0c0c !important;
    font-weight: bold;
}

/* --- Texto para Sidebar (blanco y negrita) --- */
.sidebar .nav-link,
.sidebar .nav-link span,
.sidebar .nav-link {
    display: flex;             /* activa flexbox */
    align-items: center;       /* centra ícono y texto verticalmente */
    gap: 12px;                 /* separación ícono-texto */
    padding: .6rem 1rem;
    color: #0c0c0c !important;
    font-weight: 700 !important; /* Fuerza negrita */
}

.sidebar .nav-link i {
    color: #0c0c0c !important;
    font-weight: bold !important; 
    margin-right: 8px;
    vertical-align: middle; 
    font-size: 1.1rem;  
    flex: 0 0 auto;
    line-height: 1;
}

/* --- Efecto Hover/Activo para links del Sidebar --- */
.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    background-color: #e6c66e !important;
    color: #0c0c0c; /* Asegura que el texto siga blanco */
}

/* Sidebar layout */
.sidebar {
    top: 56px;                /* deja espacio para la navbar (ajusta según altura navbar) */
    left: 0;                  /* pegado al margen izquierdo */
    width: 260px;             /* ancho */
    height: calc(100vh - 56px); /* ocupa toda la altura de la ventana menos la navbar */
    background-color: #e6c66e;   /* verde */
    overflow-y: hidden;      
    transition: width .35s ease;             /* que no “escape” contenido al colapsar */
}

/* Bootstrap a veces cambia display; para collapse horizontal
   queremos manejar sólo el width, así que aseguramos display:block */
.sidebar.collapse {
    display: block;
}

/* Estado colapsado */
.sidebar:not(.show) {
    width: 0 !important;
}

/* Interior y alto completo (pegado bajo la navbar) */
.sidebar-inner {
    border-right: 1px solid #e6c66e; /* Borde que combina con el fondo oscuro */
    position: sticky;
    top: 56px;                      /* altura aprox. de la navbar */
    height: calc(100vh - 56px);
    overflow-y: auto;
}

@media (max-width: 767.98px) {
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0c0c0c;
}

.btn-primary {
    color: #0c0c0c;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #0c0c0c;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #0c0c0c;
}

.border-bottom {
    border-bottom: 1px solid #0c0c0c;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}