@model Inmobiliaria10.Models.ViewModels.CambiarPasswordViewModel
@{
    ViewData["Title"] = "Cambiar Contraseña";
}


<div id="content" class="d-flex justify-content-center align-items-center">
    <div class="form-card">
        <h2 class="form-title">Cambiar Contraseña</h2>

        <form asp-action="CambiarPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <input type="hidden" asp-for="IdUsuario" />

            <div class="form-group mb-3">
                <label asp-for="PasswordActual" class="form-label"></label>
                <input asp-for="PasswordActual" type="password" class="form-control" />
                <span asp-validation-for="PasswordActual" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="NuevaPassword" class="form-label"></label>
                <input asp-for="NuevaPassword" type="password" class="form-control" />
                <span asp-validation-for="NuevaPassword" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ConfirmarPassword" class="form-label"></label>
                <input asp-for="ConfirmarPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmarPassword" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-between">
                <a asp-action="Perfil" class="btn btn-back">Volver</a>
                <button type="submit" class="btn btn-save">Actualizar</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
