@model Inmobiliaria10.Models.Usuario
@{
    ViewData["Title"] = "Crear Usuario";
    Layout = "_Layout";
}

<body id="page-create-user">
    <div class="container mt-4">
        <h2> Crear Usuario</h2>
        <form asp-action="Crear" method="post" id="UsuarioForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="ApellidoNombres" class="form-label">Apellido, Nombres</label>
                <input asp-for="ApellidoNombres" class="form-control" />
                <span asp-validation-for="ApellidoNombres" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Alias" class="form-label">Alias</label>
                <input asp-for="Alias" class="form-control" />
                <span asp-validation-for="Alias" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label">Contraseña</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="IdRol" class="form-label">Rol</label>
                <select asp-for="IdRol" asp-items="ViewBag.Roles" id="rol" class="form-control"></select>
                <span asp-validation-for="IdRol" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success">Guardar</button>
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>

@section Scripts {
    <script src="~/js/usuarios.js" asp-append-version="true"></script>
}
