@model Inmobiliaria10.Models.InmuebleTipo

@{
    ViewData["Title"] = "Nuevo Tipo de Inmueble";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6"> 
            <div class="card form-card">
                <div class="card-header form-card-header">
                    <h4 class="form-title">@ViewData["Title"]</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Crear" method="post">
                        <div class="mb-3">
                            <label asp-for="DenominacionTipo" class="form-label w-100 text-center"></label>
                            <input asp-for="DenominacionTipo" class="form-control text-center"
                                   oninput="this.value = this.value.toUpperCase()" autocomplete="off"/>
                            <span asp-validation-for="DenominacionTipo" class="text-danger"></span>
                        </div>

                        <div class="d-flex justify-content-between mt-4">
                            <a asp-action="Index" class="btn btn-back">
                                <i class="fa-solid fa-arrow-left me-2"></i> Cancelar
                            </a>
                            <button type="submit" class="btn btn-save">
                                <i class="fa-solid fa-floppy-disk me-2"></i> Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


